<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Articles</title>
</head>
<body>
  <h1>Create Articles</h1>
    <form action="{{route('rss.create')}}" method="POST" >
        {{csrfField()}}
        <input type="text" name="rssLink" placeholder="rssLink">

        {{--  <input type="file" name="image">  --}}
        {{--  <textarea name="content" cols="30" rows="10" placeholder="Article Content..."></textarea>  --}}
        <button type="submit">Create</button>
    </form>
</body>
</html>