<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My First Webpage</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <p>This is a paragraph.</p>
  @each(article in articles)
    <h1>{{article.title}}</h1>
    <h1>{{article.link}}</h1>
    <h1>{{article.content}}</h1>

  @endeach
</body>
</html>